<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSMarket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA4115E71DBEEBC800B38183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA4116001DBEEBC900B38183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA41160B1DBEEBC900B38183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
